---
// src/layouts/BaseLayout.astro

import './src/styles/global.css';
---

<html lang='es'>
	<head>
		<meta charset='UTF-8' />
		<title>Mi LinkHub</title>
		<meta
			name='viewport'
			content='width=device-width, initial-scale=1.0'
		/>
	</head>
	<body class='bg-gray-100 text-center font-sans'>
		<main class='max-w-md mx-auto p-6'>
			<slot />
		</main>
	</body>
</html>
